<html>
<head><title>Shopping</title></head>

<body>
  <form method = "post" action = "/checkout">
    <label>What item are you buying?</label>
    <input type = "text" id = "item">
    <input type = "submit">
  </form>
</html>
